
"0, MinMeasuredValue to MaxMeasuredValue"
"1 to NumberOfTotalUsersSupported, 0xFFFE"
"20, desc"
"7,9"
"Add, Modify"
"max <<ref_RespMaxConstant,RESP_MAX>>"
"OccupiedEnabled, OccupiedDisabled"
"UnrestrictedUser,
"Unspecified,
-10000 to +10000
-120 to 0
-127 to 127
-128 to 0
-27315 to MaxMeasuredValue-1
-32767 to MaxMeasuredValue-1
-32767 to MaxScaledValue-1
-43200 to 50400
0 to (MaxNetworks - 1)
0 to 0x0FFF
0 to 0xFEFF
0 to 1
0 to 100
0 to 10000
0 to 1000000
0 to 1439
0 to 1499
0 to 15
0 to 2048
0 to 254
0 to 255
0 to 31
0 to 5
0 to 6
0 to 64
0 to 64 bytes
0 to 65534
0 to 7
0 to MaxFrequency
0 to MaxLevel
0 to MaxMeasuredValue-1
0 to NumberOfCredentialsSupportedPerUser
0 to NumberOfPositions-1
0 to SetTime
0 to SpeedMax
0% to 100%
0b0000 xxxx
0b00xx xxxx
0x00 to 0x0FE
0x00 to 0x3C
0x01 to 0xFF
0x954D to 0x7FFF
1 to 100
1 to 16
1 to 2
1 to 2047
1 to 254
1 to 32
1 to 6
1 to 64
1 to 65535
1 to 8
1 to MaxLevel
1 to MaxMeasuredValue-1
1 to MaxPower
1 to MultiPressMax
1 to NumberOfCredentialsSupportedPerUser
1 to NumberOfTotalUsersSupported
1 to SupportedFabrics
100 to MS
16
16 to 100
2
2 to 10
2 to 255
2 to MultiPressMax
20
32
48
500 to 2047
6
64
65
8 to 16
<<UserStatusEnum>>
<<UserTypeEnum>>
all
all[min 1]
any
derived
desc
DisposableUser,
ExpiringUser,
ForcedUser,
InstalledOpenLimitLift to InstalledClosedLimitLift
InstalledOpenLimitTilt to InstalledClosedLimitTilt
Keypad,
max 5
max (MaxTemperature - 1)^*^
max (MaxTemperature - MinTemperature)
max 0xFFFE
max 10
max 10 [max 50]
max 100[max 1024]
max 1024
max 11
max 12
max 120
max 128
max 140
max 1440
max 16
max 16[max 64]
max 20
max 253
max 254
max 255
max 256
max 259200
max 30
max 32
max 32 chars
max 32 [128]
max 32[max 16]
max 32[max 35]
max 32[max 64]
max 35
max 4
max 400
max 5
max 512
max 6
max 600
max 6000
max 60000
max 604800
max 64
max 7
max 8
max 8192
max 900
max 999
max ClientTableSize
max MaxMeasuredValue
max NumberOfPositions-1
max SubjectsPerAccessControlEntry
max TargetsPerAccessControlEntry
min -27315
min 0
min 1
min 11
min 2
min 3
min 4
min 4 per node
min 8
min MinFrequency
min MinMeasuredValue
MinFrequency to MaxFrequency
MinLevel to 254
MinLevel to MaxLevel
MinLevel to PhysicalMaxLevel
MinMeasuredValue to MaxMeasuredValue
MinMeasuredValue+1 to 10000
MinMeasuredValue+1 to 32767
MinMeasuredValue+1 to 65534
MinPower to 100
MinPower to MaxPower
MinScaledValue to MaxScaledValue
MinScaledValue+1 to 32767
MinTemperature to MaxTemperature
MS
N/A
NonAccessUser,
percent
PhysicalMinLevel to MaxLevel
ProgrammingUser,
Remote"
RemoteOnlyUser"
ScheduleRestrictedUser,
TODO
